<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/victorlora/EVApp">EVAPP</a></strong>
			</br>iOS application created to help promote electric vehicles, offering many different features, such as low fuel warnings,
			current speed, personalized vehicle information and more.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/MCEMS/dispatch">MCEMS Portal</a></strong>
			</br>An application that allows EMS officers to be dispatched, tracked and more.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Muhlenberg/HackPSU-16">Smart Sublime</a></strong>
			</br>A Sublime Text plug-in created for HackPSU that converts speech commands to Java code.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/victorlora/Database-Systems/tree/master/project">Theater Group Project</a></strong>
			</br>A website built to interact with a database that keep tracks of theater members and productions. In addition, the website provides the ability to create accounts, view current productions, purchase tickets, and more. Link to the website <a href="http://mathcs.muhlenberg.edu/~project3/csi305/html/home.html">here</a>.
		</h5>

    </div>
  </div>
</div>
</section>
