<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/victorlora/EVApp">EVAPP</a></strong>
			- iOS application created to help promote electric vehicles, offering many different features, such as low fuel warnings,
			current speed, personalized vehicle information and more.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/MCEMS/dispatch">MCEMS Portal</a></strong>
			- an application that allows EMS officers to be dispatched, tracked and more.
		</h5>
    </div>
  </div>
</div>
</section>
